<!DOCTYPE html>
<html>
	<head>
		<title>Easy Peasy Chatroom - Legal</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
		<style>
			body { margin: 0 auto; width: 640px; padding-top: 20px }
		</style>
	</head>
	<body>
		<p>This is a chatroom programmed by myself, Andre Popovitch.</p>
		<p>It's <a href="https://github.com/anchpop/Easy-Peasy-Chatroom">open scource</a>, and you can do pretty much whatever you want with the code.</p>
		<p>If you use my code as a base for your own site, it would make my day (Keep in mind that there are a few vulnerabilities, this site is actually pretty easy to crash).</p>
		<p>Please don't do anything illegal on this demo page, though. I don't want to get in trouble</p>
	</body>
</html>